myEnv3/
Functions\__pycache__
Functions/__pycache__/electrical.cpython-312.pyc
Functions/__pycache__/electrical_sim.cpython-312.pyc
z_Report_LaTex/AI_Final_Project_Report.synctex.gz
z_Report_LaTex/AI_Final_Project_Report.aux
z_Report_LaTex/AI_Final_Project_Report.bbl
z_Report_LaTex/AI_Final_Project_Report.blg
z_Report_LaTex/AI_Final_Project_Report.fdb_latexmk
z_Report_LaTex/AI_Final_Project_Report.fls
z_Report_LaTex/AI_Final_Project_Report.log
EE_utils/__pycache__/electrical.cpython-312.pyc
EE_utils/__pycache__/electrical_sim.cpython-312.pyc
